doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block style
    body
        .main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/" class=(path ==='/' ?'active' :'')) Shop
                    li.main-header__item
                        a(href="/shop/product-list" class=(path ==='/shop/product-list' ?'active' :'')) Products
                    li.main-header__item
                        a(href="/shop/cart" class=(path ==='/shop/cart' ?'active' :'')) Cart
                    li.main-header__item
                        a(class=(path==='/admin/add-product' ?'active' :'') href="/admin/add-product") Add Product
                    li.main-header__item
                        a(href="/admin/products" class=(path ==='/admin/products' ?'active' :'')) Admin Products 
        block content
        
    